/*加载动画*/
#loading-box .loading-image-dot {
  width: 30px;
  height: 30px;
  background: #6bdf8f;
  position: absolute;
  border-radius: 50%;
  border: 6px solid #fff;
  top: 50%;
  left: 50%;
  transform: translate(18px, 24px);
}
@-moz-keyframes loadingAction {
  0% {
    opacity: 1;
 }
  100% {
    opacity: 0.4;
 }
}
@-webkit-keyframes loadingAction {
  0% {
    opacity: 1;
 }
  100% {
    opacity: 0.4;
 }
}
@-o-keyframes loadingAction {
  0% {
    opacity: 1;
 }
  100% {
    opacity: 0.4;
 }
}
@keyframes loadingAction {
  0% {
    opacity: 1;
 }
  100% {
    opacity: 0.4;
 }
}

/*关于页面*/
.author-content-item.careers img {
  left: 450px;
  width: 25%;
}
.author-content-item.careers .careers-group {
  font-size: 25px;
}

.author-content-item.hobbies-left-side {
  color: var(--heo-white);
  width: 49%;
  min-height: 300px;
  background-color: var(--heo-shadow-red);
}
.author-content-item.hobbies-right-side {
  color: var(--heo-white);
  width: 49%;
  min-height: 300px;
  background-color: var(--heo-shadow-red);
}

/*顶栏菜单天气移动端隐藏*/
div#he-plugin-simple {
  display: none;
}
@media screen and (min-width: 768px){
  div#he-plugin-simple {
    display: block;
  }
}